<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tech.tiga.amzn</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32C26497-090D-4DB0-B661-229E3EDF88FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32C26497-090D-4DB0-B661-229E3EDF88FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>382DF0CC-7AA2-47FF-BB5B-42CE2689E85F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tigattack</string>
	<key>description</key>
	<string>Takes Amazon ASIN and generates a shortened URL with affiliate tag.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Amazon Affiliate Short URL Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>382DF0CC-7AA2-47FF-BB5B-42CE2689E85F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>amzn</string>
				<key>subtext</key>
				<string>Generate amzn.to product URLs with embedded affiliate tag.</string>
				<key>text</key>
				<string>Generate Amazon Affiliate Short URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./short-affiliate.py $amzn_domain $associate_id $bitly_token {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>short-affiliate.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32C26497-090D-4DB0-B661-229E3EDF88FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Add your bit.ly API token, Amazon Associate tracking ID, and regional Amazon domain to the relevant variables on the right --&gt;

You can get a bit.ly API token here - https://bitly.is/accesstoken

You can find your Amazon Associate tracking ID here - https://affiliate-program.amazon.co.uk/home/account/tag/manage

You can find a list of regional Amazon domains here - https://en.wikipedia.org/wiki/Amazon_(company)#Website

NOTE: This Alfred Workflow is not affiliated in any way with Amazon or bit.ly.</string>
	<key>uidata</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>32C26497-090D-4DB0-B661-229E3EDF88FB</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>382DF0CC-7AA2-47FF-BB5B-42CE2689E85F</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>amzn_domain</key>
		<string>amazon.co.uk</string>
		<key>associate_id</key>
		<string></string>
		<key>bitly_token</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bitly_token</string>
		<string>associate_id</string>
	</array>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://blog.tiga.tech</string>
</dict>
</plist>
